@import url('http://fonts.googleapis.com/css?family=Roboto');

*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body {
  background-color: rgb(4, 12, 27);
  margin: 0;
  max-width: 1600px;
  margin:auto;
  font-family:"Roboto";
}


